
h1 {
	color: coral;
	margin-top: 0;
	margin-bottom: .5em;
}
h2 {
	color: coral;
	font-size: 120%;
	padding: 0;
	margin-bottom: .5em;
}
main {
    padding: 1em 2em;
}
label {
	
    width: 3em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-bottom: .5em;
}
p {
	margin: 0;
}
td {
	width: 10em;
}

th td{
    font-weight: bold;
}